.ui-panel.ui-widget{
    padding: 0;
}
.ui-panel-titlebar.ui-widget-header{
    border-width: 0 0 1px;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
}


.h2 {
    border-bottom: 1px solid #DEDEDE;
    color: #555555;
    font-size: 1.6em;
    font-weight: normal;
    margin-bottom: 15px;
    padding: 15px 15px 5px;
}